@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


body {
    font-family: 'NimbusSanL-Reg', sans-serif;
    transition: transform 0.4s ease;
}
ul {
    margin-bottom: 0px;
}

em {
    font-style: italic !important;
}
pre {
    background: none;
    border: none;
}
.wpm-info {
    display: none;
}
a {
    font-family: 'NimbusSanL-Reg', sans-serif;
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}
a:hover {
    text-decoration: none;
    transition: all 0.5s;
}
a:focus, a:active {
    text-decoration: none;
    border: none !important;
}
i {
    font-family: 'FontAwesome' !important;
}
h1 {
    font-size: 31px;
}
h2 {
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin: 52px 0 23px;
}
h3 {
    font-size: 30px;
    color: #000;
}
h4 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin: 10px 0;
}
h2.titles {
    color: #fff;
    background: #000;
    font-size: 28px;
    text-transform: uppercase;
    margin: 55px auto 50px;
    display: table;
    padding: 15px 28px;
}
h3.titles {
    color: #fff;
    background: #000;
    font-size: 24px; 
    text-transform: uppercase;
    margin: 55px auto 50px;
    display: table;
    padding: 15px 28px;
}

.row {
    max-width: 1190px;
    margin: 0 auto;
}
.hamburger-menu {
    display: none;
}
.contact-line {
    background-color: #ecedeb;
    width: 100%;
    float: left;
    padding: 14px 25px;
    z-index: 2;
    position: relative;
}
.contact-line span {
    color: #717273;
}
.top-contact-email {
    float: right;
    color: #717273;
}
.top-contact-phone {
    float: left;
    color: #717273;
}
.menu-container {
    float: left;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.85);
    padding: 13px 25px;
    position: relative;
    z-index: 2;
}
.menu-container ul {
    float: right;
    margin-top: 7px;
}
.menu-container li {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 8px;
    border-right: 1.7px solid #fff;
    transition: 0.3s;
}
.menu-container li a:hover  {
    transition: 0.3s;
    color: #a5b2d5 !important;
}
.menu-container li:last-child {
    border-right: none;
}
.site-navigation {
    position: relative;
}

.site-branding {
    float: left;
}
/*.container.video-section {
    height: 610px;
    position: relative;
    width: 100%;
}*/
.container.video-section {
        height: 40vw;
    position: relative;
    width: 100%;
    object-fit: fill;
    top: -310px;
}

video.head-video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}
img.custom-logo {
    width: 179px;
    height: 35px;
    object-fit: contain;
}
.main-title .title-row{
    background-color: rgba(255, 255, 255, 0.75) !important;
    font-size: 50px;
}
.main-title h1 {
    color: #000;
}
.main-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
.title-row {
    font-size: 37px;
    text-align: center;
    background-color: #ccc !important;
    padding: 8px;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}
.we-do {
    background-color: #f4f8fe;
    width: 100%;
}
.we-do .row {
    margin: 0 100px;
}

/* table style */
td {
    text-align: center;
}

.icon-container {
    margin-bottom: 54px;
    padding: 0px;
    height: 210px;
}
.icon-container img {
    margin: 0 auto;
    display: block;
    object-fit: contain;
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.icon-box {
    height: 128px;
    width: 128px;
/*     justify-content: center;
    align-items: center;
    display: flex; */
    border: 2px solid #0d1236;
    margin: 0 auto;
    cursor: pointer;
}
.subtitle-icon {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: underline;
    color: #0d1236;
    font-weight: 600;
    margin-top: 18px;
    line-height: 1.25;
    cursor: pointer;
}
.tablepress tfoot th, .tablepress thead th {
    background: #0d1336 !important;
    color: #fff;
}
td.column-2 {
    text-align: center !important;
}
.tablepress thead th {
    text-align: center;
}
.tablepress td {
    line-height: 1.4;
}
.tablepress tbody td, .tablepress tfoot th {
    border: none !important;
}
.tablepress td:first-child {
    text-align: left !important;
}
.tablepress td {
    text-align: center !important;
}
tr,td {
    color: #231f20;
}
tr td:first-child {
    font-weight: 600;
}
.tablepress .odd td,.tablepress .even td  {
    vertical-align: middle;
}
/* table styles */

table.tablepress {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100;
  background: #333; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
  width: 80%;
}
table.tablepress caption {
  margin: 1rem;
}
@media screen and (max-width: 600px) {
  table.tablepress caption { background-image: none; }
  table.tablepress thead { display: none; }
  table.tablepress tbody td {
    display: block; padding: .6rem;
  }
  table.tablepress tbody tr td:first-child {
    background: #666; color: #fff;
  }
	table.tablepress tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
        .logo-item img {
    max-width: 120px;
}
    .trust .slick-slide {
        padding: 0 50px;
    }
}

/*end table */
.container.in-one {
    background-color: #dadee1;
    width: 100%;
}
.in-one .row {
    margin: 0 100px;
}
.in-one h3 {
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 35px 0;
}
li.icon-in-one {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20%;
    float: none;
    max-width: 180px;
}
li.icon-in-one:after {
  position: absolute;
  content: "\f067";
  top: 50%;
  margin-top: -11px;
  right: -9px;
  font-family: 'FontAwesome' !important;
  font-size: 22px;
  color: #333;
}
ul.in-one-list i.fa.fa-plus {
  display: none;
}
li.icon-in-one:last-child:after {
  content: '';
}
.subtitle-in-one p{
    line-height: 1.2;
    font-size: 22px;
    margin-top: 7px;
}
li.tab.mixitup-control-active {
    border-bottom: 2px solid #132352;
    color: #132352;
}
.icon-in-one img {
    height: 53px;
    object-fit: contain;
}
ul.in-one-list {
    position: relative;
    font-size: 0;
    margin-bottom: 40px;
    text-align: center;
}

ul.in-one-list i.fa.fa-plus {
    margin-top: 15px;
    font-size: 22px;
}
ul.in-one-list i:last-child {
    display: none;
}
ul.tabs.works-tab {
    overflow-x: hidden;
}
ul.tabs {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}
li.tab {
    display: inline-block;
    margin: 0 33.5px;
    font-size: 20px;
    padding-bottom: 6px;
    font-weight: 600;
    text-transform: uppercase;
    float: none;
    cursor: pointer;
}
@media screen and (max-width: 480px){
    .top-contact-email {
       font-size: 12px !important;
   }
   .top-contact-phone {
       font-size: 10px;
   }
   .contact-line {
       padding: 8px 15px;
   }
}
@media screen and (min-width: 481px) and (max-width: 560px){
 .top-contact-email {
    font-size: 14px;
}
.top-contact-phone {
    font-size: 14px;
}
.contact-line {
    padding: 8px 25px;
}
}
@media screen and (min-width: 991px) {
    nav#site-navigation {
    position: absolute;
    right: 105px;
}
}
@media screen and (max-width: 991px){
     ul.drop-lang {
    margin: 4px 0 !important;
    margin-right: 60px !important;
}
    .container.video-section {
        height: 390px;
    }
    .menu-container li {
        font-size: 16px;
    }
    img.custom-logo {
        width: 129px;
    }
.active-menu li {
    display: block;
}
.menu {
       float: right;
    margin-top: 7px;
    position: fixed;
    background: rgba(22, 22, 22, 0.85);
    top: 0px;
    left: -50%;
    width: 50%;
    transition: 0.8s;
    display: inline-grid;
    padding: 10px 0;
    height: 100%;
    padding: 120px 0 !important;
}
.menu li {
    display: block;
    padding: 12px 0;
    font-size: 18px;
    margin-left: 20px;
    border: 0px;
}
.menu.active-menu {
    float: right;
    position: fixed;
    height: 100%;
    background: rgba(22, 22, 22, 0.9);
    margin-top: 0px;
    top: 0px;
    left: 0px;
    width: 40%;
    padding: 120px 0 !important;
    transition: 0.8s;
    padding: 10px 0;
}
.active-menu li {
    display: block;
    padding: 12px 0;
    font-size: 18px;
    margin-left: 20px;
    border: 0px;
}
    .subtitle-in-one p {
        font-size: 18px;
    }
.hamburger-menu {
  display: flex;
  justify-content: center;
}
.whyus-wrapp {
    margin-bottom: 50px;
    padding: 0px;
}
.container.why-us, .container.cf-7 {
    background-size: cover !important;
}
    .we-do .row {
        margin: 0px;
    }

}
@media screen and (min-width: 768px) and (max-width: 849px){
    .in-one .row {
    margin: 0px;
}

}
@media screen and (min-width: 850px) and (max-width: 991px){
    .in-one .row {
    margin: 0 70px;
}
}
@media screen and (max-width: 1035px){
    ul.drop-lang {
    margin: 4px 2px 0px 0px;
}
}
@media screen and (max-width: 820px){
    .menu-container li {
    font-size: 15px;
}
}

.fixed{
  position: fixed;
  top: 0;
  z-index: 9999;
}

.t-container {
    background-color: #e7e7e8;
    position: relative;
    height: 485px;
    float: left;
    width: 320px !important;
    margin: 0 2.6% 75px;
}
.t-logo {
    display: block;
    margin-top: -30px;
    margin: -30px auto 0;
}
.cusomer-name {
    margin-top: 25px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
    padding: 0 20px;
}
.customer-role {
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    padding: 0 20px;
}
.testimonial {
    padding: 0 20px;
    margin-top: 26px;
    font-size: 16px;
    line-height: 1.4;
}
.tes-wrapp {
    overflow: hidden;
    height: 300px;
    margin-top: 5px;
}
.slick-list {
    overflow: hidden;
}
.slick-slide {
    padding-top: 30px;
}
.slick-dots li button:before, .slick-dots li.slick-active button:before {
    font-size: 30px;
}

.slick-track:focus, .testimonial-slider:focus, .slick-initialized .slick-slide:focus {
    border: none !Important;
    outline: none !important;
}
.slick-dots {
    bottom: 0px;
}
.container.why-us, .container.cf-7 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px;
}
.container.why-us h2.titles, .container.cf-7 h2.titles {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}
.whyus-wrapp {
    display: block;
    float: left;
    text-align: center;
}
.whyus-subtitle {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
}
.why-us-img {
    min-height: 125px;
}
.why-us-img img {
    /* width: 85px; */
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.whyus-row {
    margin-bottom: 100px;
}
.logo-item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
    max-height: 60px;
    margin: 0 auto;
    max-width: 250px;
}
.logo-item img:hover {
    filter: grayscale(0%);
    transition: 0.5s;
}
.cf-7 {
    padding-bottom: 50px;
}
.cf-7 a {
    color: #fff;
    font-size: 21px;
}
.cf-7 i.fa.fa-envelope {
    padding-right: 8px;
}
.cf-7 h2.titles {
    margin: 55px auto 20px;
}
.line-after {
    color: #fff;
    font-size: 24px;
    margin: 0 4px;
}
.contact-row {
    text-align: center;
    margin-bottom: 42px;
}
.cf-7 {
    background-attachment: fixed;
    background-position: 0px -200px;
}
input, textarea.wpcf7-form-control.wpcf7-textarea {
    background: transparent;
    resize: none;
    border: 1.6px solid #fff;
    color: #fff;
    padding-left: 13px;
}
textarea.wpcf7-form-control.wpcf7-textarea {
    width: 50%;
    padding-top: 15px;
}
input {
    height: 49px;
    margin-bottom: 8px;
    width: 49%;
    clear: both;
    float: left;
}
::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

textarea.wpcf7-form-control.wpcf7-textarea {
    width: 49%;
    float: none;
    margin-left: 15px;
    height: 163px;
}
input.wpcf7-form-control.wpcf7-submit {
    background-color: #b4b6c1;
    max-width: 162px;
    margin: 28px auto 0;
    float: none;
    height: auto;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #0e1436;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
div.wpcf7 {
    margin: 0 90px;
}
input.wpcf7-form-control.wpcf7-submit:hover {
    transition: 0.6s;
    color: #000;
    background-color: #fff;
}
.whowe-content {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 18px;
}
footer {
    float: left;
    width: 100%;
    background-color: #252525;
    margin-top: 55px;
}
.powered {
    text-align: center;
    font-size: 16px;
    padding: 19px 0 16px;
    color: #fff;
}
footer .contacts-line {
    max-width: 600px;
    float: none;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
footer a {
    font-family: 'Roboto Condensed', sans-serif;
}
ul.footer-social {
    margin-bottom: 18px;
}
ul.footer-social a {
    display: inline-block;
    transition: 0.5s;
    font-size: 24px;
    color: #010101;
    padding-right: 8px;
}
ul.footer-social a:last-child {
    padding-right: 0px;
}
ul.footer-social a:hover {
    color: #d91f2f;
    transition: 0.5s;
}
footer .e-mail i {
    margin-left: 8px;
}
footer a {
    font-family: 'Roboto Condenced'
}
.footer-branding {
    margin-bottom: 20px;
}
footer .contacts-line a {
    font-family: 'Roboto Condensed', sans-serif;
}
footer .contact-row {
    text-align: center;
    margin-bottom: 17px;
    font-size: 18px;
}
footer span.line-after {
    font-size: 18px;
}
footer .contact-row a {
    color: #fff;
}
footer i.fa.fa-envelope {
    padding-right: 8px;
}
footer .footer-social i {
    color: #fff;
    transition: 0.3s;
}
footer .footer-social i:hover {
    transition: 0.3s;
    color: #a5b2d5;
}


.head-panorama iframe {
    width: 100%;
    height: 610px;
    margin: 0px;
}
.head-panorama {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
}

/* modal window styles */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

.our-works img {
    border: 2px solid #000;
    width: 100%;
    height: 225px;
    object-fit: cover;
}
a.object-wrapp, .frames-wrapp {
    width: 25%;
    display: inline-block;
    margin: 5px;
}
a.object-wrapp:nth-child(3), a.object-wrapp:nth-child(4), .frames-wrapp:nth-child(3), .frames-wrapp:nth-child(4)  {
    width: 44%;
}
.our-works {
    background-color: #f6fafe;
    background-image: url(../img/bg-works.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
}
.fancybox-slide--current #hidden-content-b {
  transform: translateY(0);
}
.modal-dialog.modal-lg {
     transform: translate(0, 50%) !important
}
.hamburger-menu {
    float: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 60px;
  cursor: pointer;
}
.bar, .bar:after, .bar:before {
  width: 40px;
  height: 2px;
}
.bar {
  position: relative;
  transform: translateY(25px);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}
.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
a.portfolio-btn {
    background-color: #0e1436;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 25px;
    margin: 0 auto 60px;
    float: none;
    display: table;
}
.modal-content a.portfolio-btn {
    margin-top: 30px;
    margin-left: 0px;
}
/* tabs */
.areas {
    width: 100%;
    padding: 0px;
}
.areas .row {
    max-width: 100%;
}
.trust .slick-slide {
    line-height: 50px;
    padding: 0px 40px;
}
.trust .slick-dots {
    bottom: -35px;
}
.container.trust {
    margin-bottom: 35px;
}
ul.tabs, ul.maptabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;
}
ul.maptabs {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
}
ul.tabs li, ul.maptabs li {
	float: left;
	margin: 0 15px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
        color: #132352;
        display: inline-table;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 25px;
}


ul.tabs li.active, ul.maptabs li.active {
	display: inline-table;
        border-bottom: 2px solid #132352;
}

.tab_container, .maptab_container {
	clear: both;
	float: left;
	width: 100%;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}
.maptab_content {
    padding: 0px;
    display: none;
}
.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs, .maptabs {
		display: none;
	}
	.tab_drawer_heading, .maptab_drawer_heading  {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
        .whyus-subtitle {
            font-size: 18px;
        }
}
@media screen and (max-width: 858px){
   textarea.wpcf7-form-control.wpcf7-textarea {
    width: 70%;
    float: none;
    height: 163px;
    margin: 0 auto;
    display: block;
}
  input {
    height: 49px;
    margin-bottom: 8px;
    width: 70%;
    clear: both;
    float: none;
    margin: 15px auto;
    display: block;
}
}
.modal-content {
    position: absolute;
    margin: 0 auto;
    width: 680px;
    left: 0px;
    top: 40px;
    right: 0px;
}
.modal-content img {
    max-width: 324px;
    clear: none;
    float: left;
    margin-right: 18px;
    border-right: 7px solid #0d1236;
    bottom: 30px;
    height: 490px;
    position: relative;
}
button.close {
    margin-right: 10px;
    margin-top: 10px;
}
.entry-modal p {
    line-height: 20px;
    font-size: 15px;
}
.entry-modal h3 {
    font-size: 26px;
}
.entry-modal {
    margin: 0 25px;
}
.entry-modal h3 {
    margin: 45px 0px 20px;
}
.entry-modal iframe {
    border-top: 7px solid #0d1236;
    border-bottom: 7px solid #0d1236;
}
.modal-content .wpm img {
    max-width: 100% !important;
    height: auto;
    position: initial;
}
.modal-content h3 {
    text-transform: uppercase;
}
.hamburger-menu.active-close {
    z-index: 1;
}

/* ======================media screen requies=================== */
@media screen and (max-width: 768px){
    ul.in-one-list {
        display: block;
    }
    li.icon-in-one {
    width: 50%;
    margin-bottom: 60px;
}
    div.wpcf7 {
    margin: 0 0px;
}
.tab_container img {
    object-fit: cover;
}
    ul.in-one-list i.fa.fa-plus {
    margin-top: 15px;
    font-size: 30px;
    margin: 25px auto;
    display: none;
    text-align: center;
}
ul.in-one-list i.fa.fa-plus:last-child {
    display: none;
}
.subtitle-in-one p {
    font-size: 23px;
    text-transform: uppercase;
}
.icon-in-one img {
    height: 83px !Important;
}
.in-one h3 {
    font-size: 30px;
}
.menu-container li a {
    vertical-align: middle;
}
    .cf-7 a {
        width: 100%;
        float: left;
        margin: 5px 0;
    }
    .cf-7 a:last-child {
    margin-bottom: 20px;
}
    .line-after {
        display: none;
    }
 
}
@media screen and (max-width: 1100px){
    .menu-container li {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px){
    .menu.active-menu {
        width: 100%;
    }
    .menu-container li {
        font-size: 16px;
        text-align: center;
    }
    .bar, .bar:after, .bar:before {
        width: 40px;
    }
    textarea.wpcf7-form-control.wpcf7-textarea, input {
        width: 100%;
    }

}
@media screen and (min-width:1200px){
    .trust .slick-slide {
        padding: 0 130px;
    }
    .whyus-row {
    margin-bottom: 100px;
    padding: 0 110px;
}
    td:first-child {
    max-width: 120px;
}
}
@media screen and (min-width: 992px) and (max-width:1199px){
    .trust .slick-slide {
    line-height: 50px;
    padding: 0px 40px;
}
       .whyus-row {
    padding: 0 110px;
}
        td:first-child {
    max-width: 120px;
}
    table.tablepress {
        width: 90%;
    }
}
@media screen and (min-width: 768px) and (max-width:991px){
    .icon-container {
        width: 20%;
        padding: 0px;
    }
    .title-row.second-row {
        width: 540px;
    }
    .container.video-section {
        height: 420px;
    }
    video.head-video {
        height: 100%;
    }
    a.object-wrapp, .frames-wrapp {
        width: 31% !important;
    }
    a.object-wrapp:nth-child(3), a.object-wrapp:nth-child(4), .frames-wrapp:nth-child(3), .frames-wrapp:nth-child(4) {
        width: 31% !important;
    }
    .whyus-row {
    padding: 0 110px;
}
    .trust .slick-slide {
        padding: 0 30px;
        overflow: hidden;
    }
    .logo-item img {
        max-width: 190px;
    }
        table.tablepress {
        width: 100%;
    }
}

@media screen and(min-width: 661px) and (max-width: 748px) {
    .t-container {
        width: 280px !important;
       /* margin: 0 4.6% 75px; */
    }
}
@media screen and (max-width: 600px) {
    h2.titles {
        font-size: 27px;
    }
    td.column-1:before {
    width: 0px !important;
}
.tablepress .odd td, .tablepress .even td {
    text-align: left !important;
}
table.tablepress tbody td:before {
    width: 12rem;
}
ul.works-tab li {
    font-size: 14px;
    margin: 11px;
}
.cf-7 a {
    font-size: 15px;
}
div.wpcf7 {
    margin: 0 30px;
}
}

@media screen and (min-width: 750px) and (max-width: 991px){
    .t-container {
        margin: 0 2.77% 75px;
    }
}
@media screen and (min-width: 991px) and (max-width: 1199px){
    a.object-wrapp {
        width: 24%;
    }
.we-do .row {
    margin: 0 30px;
}
    a.object-wrapp:nth-child(3), a.object-wrapp:nth-child(4) {
        width: 45%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .t-container {
        width: 260px !important;
        margin: 0 2.8% 75px;
    }
}
@media screen and (min-width: 1360px){
    .in-one .row, .we-do .row {
    margin: 0 auto;
}
}
@media screen and (max-width: 991px){
    h2.titles {
        font-size: 19px;
        margin: 30px auto;
    }
    .whyus-row {
        margin-bottom: 20px;
    }
    .whyus-subtitle {
    font-size: 18px;
}
.head-video {
 display: none;
}
.mob-head-bg {
    display: block;
}
a.object-wrapp {
    width: 24%;
}

    a.icon-container.col-lg-2.col-md-2.col-sm-3.col-xs-6 {
    margin: 0 auto 54px;
    padding: 0px;
    height: 150px;
}
    .container.why-us, .container.cf-7 {
    background-position: initial !Important;
    }
}
@media screen and (max-width: 744px){
    .t-container {
        width: 90% !important;
        height: 370px;
        float: none;
        margin: 0 auto 75px !important;
        display: block !important;
    }
    .tes-wrapp {
        height: 170px;
    }
}

.dis-editor .mce-toolbar-grp .mce-container {
    display: none !important;
}
.wpm-gallery {
    margin-bottom: 0;
}
.wpm {
    margin-bottom: 0px;
}
.wpm img {
    border: none;
}
.frames-wrapp {
    border: 2px solid #000;
}

@media screen and (max-width: 768px){
    a.object-wrapp:nth-child(1), a.object-wrapp:nth-child(4), .frames-wrapp:nth-child(1), .frames-wrapp:nth-child(4)  {
        width: 100% !important;
    }
    a.object-wrapp, .frames-wrapp {
      width: 49.6% !important;
      margin: 1px 0 !important;
    }
    .tab_content {
        padding: 0px !important;;
    }
    .tab_container {
        margin-bottom: 30px;
    }
    ul.tabs li, ul.maptabs li {
    overflow: initial;
}
.tabs-wrapp {
    width: 100%;
    overflow-x: scroll;
    margin: 0 auto 20px;
}
    ul.tabs.works-tab {
    overflow-x: scroll;
}
        .title-row {
        font-size: 28px;
    }
    .whyus-row {
        padding: 0 30px;
    }
    .why-us-img img {
        width: 70px;
    }
    .whyus-subtitle {
    font-size: 15px;
    }
/*
    .title-row.first-row {
    min-width: 290px;
        margin: 0 auto;
}

.title-row.second-row {
    min-width: 350px;
    margin: 0 auto;
*/

    .trust .slick-slide {
        padding: 0 30px;
        overflow: hidden;
    }
    .logo-item img {
        max-width: 190px;
    }
    .icon-container {
        width: 33.3%;
        padding: 0px;
    }
    table.tablepress {
        width: 100%;
    }

}
@media screen and (max-width: 460px){
    .whyus-row {
    padding: 0px !important;
}
    .whyus-wrapp {
        padding: 0px;
    }
}
@media screen and (max-width: 580px) {
    a.object-wrapp, .frames-wrapp {
        width: 100% !important;
        margin: 3px 0 !important;
    }
     a.object-wrapp:nth-child(1), a.object-wrapp:nth-child(4), .frames-wrapp:nth-child(1), .frames-wrapp:nth-child(4)  {
        width: 100% !important;
        margin: 3px 0 !important;
    }
        ul.tabs li, ul.maptabs li {
    overflow: initial;
}
.tabs-wrapp {
    margin: 0 auto;
}
    .title-row {
    font-size: 20px;
}
}
ul.tabs.works-tab {
    overflow-x: scroll;
}
.frames-wrapp.customize iframe {
    width: 100%;
    height: 240px;
}
.frames-wrapp.customize {
    width: 31.3% !important;
    margin: 10.2px 10.2px;
}
.frames-wrapp.customize:nth-child(3),.frames-wrapp.customize:nth-child(4) {
    width: 31.3% !important;
}
.frames-wrapp.customize {
    border: none !important;
}
@media screen and (max-width: 1199px) {
   .frames-wrapp.customize {
    width: 30.2% !important;
    margin: 10.2px 10.5px;
}
    a.icon-container.col-lg-2.col-md-2.col-sm-4.col-xs-6 {
    margin-left: 10px;
    margin-right: 10px;
}
.frames-wrapp.customize:nth-child(3),.frames-wrapp.customize:nth-child(4) {
    width: 30.2% !important;
}
}
@media screen and (max-width: 991px){
.frames-wrapp.customize {
    width: 48% !important;
    margin: 7.8px 7.8px;
}
.frames-wrapp.customize:nth-child(3),.frames-wrapp.customize:nth-child(4) {
    width: 48% !important;
}
.mob-head-bg {
    background-image: url(http://www.reallook360.com/wp-content/uploads/2017/10/Untitled-6.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
.container.video-section {
    padding: 0px;
}
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
@media screen and (min-width: 859px) and (max-width: 958px) {
    div.wpcf7 {
    margin: 0 40px;
}
}
@media screen and (min-width: 476px ) and (max-width: 768x) {
    .icon-container {
        width: 33.3%;
    }
}
@media screen and (min-width: 595px ) and (max-width: 768px) {
        .we-do .row {
    margin: 0px 80px;
}
     .icon-box {
        height: 98px;
        width: 98px;
    }
       .icon-container img {
    margin: 0 auto;
    display: block;
    object-fit: contain;
    max-width: 50px;
    height: auto;
    object-fit: cover;
}
    .subtitle-icon {
        font-size: 13px;
    }
}
@media screen and (max-width: 594px) {
    .we-do .row {
    margin: 0px 40px;
}
    .icon-container {
    margin-bottom: 54px;
    padding: 0px;
    width: 33.3%;
}
    .icon-box {
        height: 98px;
        width: 98px;
    }
    .icon-container img {
    margin: 0 auto;
    display: block;
    object-fit: contain;
    max-width: 50px;
    height: auto;
    object-fit: cover;
}
    .subtitle-icon {
        font-size: 13px;
    }
}
@media screen and (max-width: 520px) {
   .icon-container {
    width: 50%;
}
}
@media screen and (max-width: 400px) {
    .we-do .row {
        margin: 0 0px;
    }
    .logo-item img {
    max-width: 100px;
}

}
.container.why-us {
    background-attachment: fixed;
    background-position: 0px;    
}

.maptab_content iframe {
    width: 100%;
}
   button.mfp-close {
    position: absolute;
    top: 50px;
    right: 330px;
}
.folio-objects a.object-wrapp {
    width: 33.3%;
}
.label-switch {
    color: #fff;
    float: left;
}
.drop-lang li {
    display: block;
    font-size: 14px;
    float: left;
}
.drop-lang select:hover {
    cursor: pointer;
}
.drop-lang select:focus {
    border: none;
}
.drop-lang select {
    background: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
}
.drop-lang option:focus {
    border: none;
}
.drop-lang option {
    text-transform: uppercase;
    background: #535353;
}
.drop-lang:before {
    content: "\f0ac";
    display: block;
    color: #fff;
    font-family: 'FontAwesome';
    float: left;
    padding-top: 5px;
    padding-right: 2px;
}
ul.drop-lang {
    margin: 4px 10px 0px 0px;
}
.mfp-title {
    display: none;
}
/* portfolio */
ul.tabs.works-tab.folio-tabs {
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.folio-tabs li {
    padding-top: 12px;
    padding-bottom: 10px;
}
.folio-tabs li.active {
    overflow: visible;
    border: none !important;;;
    position: relative;
}
.folio-tabs .active:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #000;
    position: absolute;
    top: 43px;
    left: 50%;
}
ul.tabs.works-tab.folio-tabs {
    overflow: visible;
}
.folio-container a.object-wrapp {
    width: 32.5%;
    margin: 0px !important;
    padding: 5px !important;
}
.folio-container a.object-wrapp:nth-child(3), .folio-container a.object-wrapp:nth-child(4), .folio-container .frames-wrapp:nth-child(3), .folio-container .frames-wrapp:nth-child(4) {
    width:  33.3% !Important;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.container.portfolio.folio-objects {
    margin-top: 90px;
    margin-bottom: 90px;
}
.page-template-portfolio footer {
    margin-top: 0px;
}
a.call-to-action:hover {
    background: #1c3069;
    transition: 0.8s;
}
a.call-to-action {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: #132352;
    border: 5px solid #1c3069;
    padding: 17px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.8s;
}
a.call-to-action .fa {
    color: #fff;
    font-size: 25px;
}
.bd-popcf-modal-lg {
    padding-right: 0px !Important;
}
.bd-popcf-modal-lg input, .bd-popcf-modal-lg textarea {
    border: 2px solid #ccc !important;
    width: 100% !important;
    margin-left: 0px !Important;
    color: #000;
}
.bd-popcf-modal-lg input::-webkit-input-placeholder, .bd-popcf-modal-lg textarea::-webkit-input-placeholder {
  color: #636363;
}
.bd-popcf-modal-lg input:-moz-placeholder, .bd-popcf-modal-lg textarea:-moz-placeholder {
  color: #636363;
}
.bd-popcf-modal-lg input.wpcf7-form-control.wpcf7-submit {
   margin-left: auto !Important;
}
.bd-popcf-modal-lg h3 {
    text-align: center;
    margin: 22px 0;
    font-size: 26px;
}
.modal-open {
    overflow: visible;
    padding-right: 0px !Important;
}
@media screen and (max-width: 768px){
       .bd-popcf-modal-lg input, .bd-popcf-modal-lg textarea {
        width: 90% !important;
        margin: 10px auto !important;
    }
}
@media screen and (max-width: 400px){
   .bd-popcf-modal-lg input, .bd-popcf-modal-lg textarea {
        width: 96% !important;
    }
}
@media screen and (min-width: 2161px){
    .container.video-section {
    top: -150px;
}
.main-title {
    position: absolute;
    top: 65% !Important;
}
}
@media screen and (max-width: 2160px){
    .container.video-section {
    top: -150px;
}
.main-title {
    position: absolute;
    top: 65% !Important;
}
}
@media screen and (max-width: 1800px){
.container.video-section {
    top: -130px !important;
}
.main-title {
    position: absolute;
    top: 60% !Important;
}
}
@media screen and (max-width: 1300px){
    .container.video-section {
     top: -40px !important;
}
.main-title {
    position: absolute;
    top: 50% !Important;
}
}
@media screen and (max-width: 991px){
    .container.video-section {
     top: 0px !important;
}
} 
@media screen and (max-width: 800px){
    .modal-content .js-responsive-img {
        width: 100% !important;
        top: 8px !important;
        object-fit: cover !important;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px){
    a.icon-container.col-lg-2.col-md-2.col-sm-3.col-xs-6 {
        margin-bottom: 94px;
    }
}
.grid-custom {
    padding: 0px;
}
.block {
    margin: 7px;
}
a.next, a.prev, a.close {
    display: block !important;
}
.folio-objects .popup-img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}