@font-face {
    font-family: 'RalewayBlack'; /* имя шрифта для CSS правил */
    src: local("RalewayBlack"), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/RalewayBlack.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
@font-face {
    font-family: 'RalewayBold';
    src: local("RalewayBold"), 
         url(../fonts/RalewayBold.ttf); 
  }
@font-face {
    font-family: 'RalewayExtraBold';
    src: local("RalewayExtraBold"), 
         url(../fonts/RalewayExtraBold.ttf); 
  }
@font-face {
    font-family: 'RalewayExtraLight';
    src: local("RalewayExtraLight"), 
         url(../fonts/RalewayExtraLight.ttf);  
  }
@font-face {
    font-family: 'RalewayLight';
    src: local("RalewayLight"), 
         url(../fonts/RalewayLight.ttf); 
  }
@font-face {
    font-family: 'RalewayMedium';
    src: local("RalewayMedium"), 
         url(../fonts/RalewayMedium.ttf); 
  }
@font-face {
    font-family: 'RalewayRegular';
    src: local("RalewayRegular"), 
         url(../fonts/RalewayRegular.ttf); 
  }
@font-face {
    font-family: 'RalewaySemiBold';
    src: local("RalewaySemiBold"), 
         url(../fonts/RalewaySemiBold.ttf); 
  }
@font-face {
    font-family: 'RalewayThin';
    src: local("RalewayThin"), 
         url(../fonts/RalewayThin.ttf); 
  }
@font-face {
    font-family: 'FontAwesome';
    src: local("FontAwesome"), 
         url(../fonts/fontawesome-webfont.ttf); 
  }
body {
    font-family: "RalewayRegular", sans-serif;
}
  i {
    font-family: 'FontAwesome' !important;
}
.site {
    position: relative;
}
header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 17px 0 14px;
}
.clearfix {
    clear: both;
}
a, a:hover {
    text-decoration: none;
}
form#searchform {
    float: left;
    margin-left: 30px;
}
h1 {
    font-size: 48px;
}
h1.main-title {
    font-size: 48px;
    font-family: "RalewayBold";
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
h1.main-title:after {
    content: "";
    height: 4px;
    width: 100px;
    background-color: #339966;
    display: block;
    margin-top: 10px;
}
h2.main-title {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family: "RalewayBold";
    font-size: 36px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
#searchform input{
    background-image: url(../images/search.png);
    width: 230px;
    font-size: 14px;
    padding: 8px 14px;
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 200px 6px;
    background-color: #eeeeee;
    border: none;
}
input:focus {
    border: none;
    outline: none;
}
nav#site-navigation {
    margin-top: 20px;
}
nav#site-navigation li a {
    color: #339966;
}
nav#site-navigation li {
    font-family: "RalewayBold", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    border-right: 1px solid #4e4e4e;
    padding: 0 32px;
}
nav#site-navigation li:first-child {
    padding-left: 0px;
}
nav#site-navigation li:last-child { 
    border: none;
}
.logo-text {
    margin-top: 15px;
}
.logo-slog {
    width: 460px;
    float: left;
    margin-right: 40px;
}
.site-branding {
    float: left;
    margin-right: 22px;
}
.logo-text p.bold-text {
    font-family: "RalewayBold", sans-serif;
}
.logo-text p {
    color: #339966;
    line-height: 1.4;
    margin: 0px;
    font-size: 18px;
}
.social-icons {
    float: left;
    margin-top: 6px;
}
.social-icons a {
    background-size: 20px;
    background-repeat: no-repeat;
    margin: 0 19px;
    float: left;
}
a.icon:last-child {
    margin-right: 0px;
}
a.icon:first-child {
    margin-left: 0px;
}
a.icon {
    display: block;
    height: 20px;
    width: 20px;
}
.menu-bar {
    float: right;
}
/* load more */
ul.alm-listing.alm-ajax {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
}
.post-attachments-container {
    padding-top: 15px;
    min-height: 240px;
}
.post-attachments-container {
    border-right: 2px solid rgba(15, 149, 99, 0);
    border-left: 2px solid rgba(15, 149, 99, 0);
    transition: 0.2s;
}
.alm-listing li:hover .post-attachments-container {
    transition: 0.2s;
    border-right: 2px solid rgba(15, 149, 99, 1);
    border-left:  2px solid rgba(15, 149, 99, 1);
}
.alm-listing li img {
    position: relative;
    width: 100%;
}
button.alm-load-more-btn, button.alm-load-more-btn.more.loading {
    margin: 0 auto;
    display: block;
    float: none;
    padding: 8px 40px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 0px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "RalewayBold";
}
ul.alm-listing li {
    margin: 18px 0;
}
.post-attachments {
    text-align: center;
    padding-bottom: 15px;
}
.post-attachments span {
    font-family: "RalewayLight";
    background-repeat: no-repeat;
    background-image: url(../images/calendar.svg);
    font-size: 21px;
    color: #404040;
    background-size: 21px;
    background-position: 0px 4px;
    padding-left: 32px;
}
h3.post-subtitle {
    margin-top: 0px;
    margin-bottom: 10px;
}
h3.post-subtitle a {
    color: #000;
}
h3.post-subtitle {
    text-align: center;
    font-family: "RalewayBold";
    font-size: 23px;
}
h2.main-title:after{
    content: "";
    height: 4px;
    width: 99px;
    display: block;
    background-color: #339966;
    margin: 30px auto 20px;
}
h3.post-subtitle a:after {
    content: "";
    height: 4px;
    width: 68px;
    display: block;
    background-color: #339966;
    margin: 20px auto 0;
}
.post-author span {
    background-image: url(../images/person.svg);
}
.cat-post-subtitle span {
    background-image: url(../images/pen.svg);
    color: #010000;
}
button.wg-button a{
    color: #fff;
    text-transform: uppercase;
    font-family: "RalewayBold";
    font-size: 24px;
}
button.wg-button:hover { 
    background-color: #007943;
    transition: 0.3s;
}
button.wg-button {
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #339966;
    margin: 0 auto;
    transition: 0.3s;
    float: none;
    display: block;
    padding: 10px 40px;
}
.alm-btn-wrap {
    margin: 19px 0 38px;;
}
footer {
    background-color: #8c8c8c;
    padding: 40px 0;
}
footer nav#site-navigation {
    margin: 0px;
    width: auto;
}
footer nav#site-navigation a {
    color: #fff;
}
footer nav#site-navigation li {
    border-color: #fff;
}
footer .social-icons {
     filter: grayscale(1);
     float: right;
}
footer .site-info {
    float: right;
    margin-top: 26px;
}
.single .full-container {
     background-position: 0px 50%;
}
.single-statistika .full-container {
    background-position: 0px 75%;
}
.full-container {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 0;
    top: 0px;
}
.full-width-container {
    display: block;
    float: none;
    margin: 0 auto;
    height: 550px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 70px 30%;
}
.inner-container {
    max-width: 1170px;
    margin: 0 auto; 
}
.full-width-container:after {
    content: "";
    background-image: url(../images/fw-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 40%);
    height: 100%;
    display: block;
    position: absolute;
}
.recent-date {
    font-size: 24px;
    font-family: "RalewayBold";
}
.recent-author {
    float: left;
    clear: both;
}
.recent-title {
    font-size: 46px;
    color: #fff;
    font-family: "RalewayBold";
    text-transform: uppercase;
    max-width: 540px;
}
.recent-attachments a {
    color: #fff;
}
.recent-attachments, .recent-date {
    float: left;
    position: relative;
    z-index: 1;
    color: #fff;
    margin: 0px;
}
.recent-attachments {
    margin-top: 115px;
} 
.recent-button {
    background-color: #fff;
    border: none;
    border-radius: 0px;
    padding: 10px 60px;
    transform: skew(-15deg);
}
.recent-button a {
    color: #028242;
    text-transform: uppercase;
    font-family: "RalewayBold";
    font-size: 24px;
    transform: skew(15deg);
    display: block;
}
.back-btn-section {
    float: right;
    width: 70%;
    display: inline-flex;
}
  a.back-btn {
    margin: 0 auto;
    display: inline;
    max-width: 370px;
    float: none;
    text-align: center;
    padding: 8px 40px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 0px;
    font-size: 21px;
    text-transform: uppercase;
    font-family: "RalewayBold";
    }
    li.no-translation a {
        display: none;
    }
    #polylang-2 {
        display: none;
    }
@media screen and (max-width: 1600px) {
    .full-width-container:after {
    width: calc(100% - 20%);
    position: absolute;
    left: -140px;
}
}
ul#wprmenu_menu_ul li.current-menu-item a {
    background-color: #e8e8e8 !Important;
}
  ul#wprmenu_menu_ul .sub-menu {
      background-color: #e8e8e8;
  }
  ul#wprmenu_menu_ul {
        padding-left: 15px !important;
    }
    ul#wprmenu_menu_ul li {
        border-bottom: 1px solid #000;
    }
    ul#wprmenu_menu_ul li a {
        font-family: "RalewayBold";
    }
    div#custom_menu_icon .hamburger-inner, div#custom_menu_icon .hamburger-inner:after, div#custom_menu_icon .hamburger-inner:before {
        background: #339966;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        height: 5px;
        width: 50px; 
    }
    .wprmenu_bar #custom_menu_icon.hamburger {
        padding: 10px 9px 2px;
        position: absolute;
        left: 25px !important;
        top: 35px !important;
        margin-top: 0px;
}
    #wprmenu_menu_ul li:after {
        content: ">";
        position: absolute;
        right: 20px;
        justify-content: center;
        font-size: 36px;
        display: table;
        font-family: "RalewayBold";
        color: #b1b1b1;
    }
    #wprmenu_menu_ul li ul.sub-menu li:after {
        display: none;
    } 
div#mg-wprm-wrap ul li span.wprmenu_icon {
    display: none;
}

@media screen and (max-width: 991px) {
    button.slick-next.slick-arrow {
        right: 4px;
    }
    .custMenu #custom_menu_icon {
    display: inline-table;
}
    .menu-bar {
        display: none;
    }
    .full-width-container {
        background-position: 0px 247px;
    }
  .full-width-container:after {
    content: "";
    background-image: url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    display: block;
    position: absolute;
    left: 0px;
    height: 247px;
}
    .logo-slog {
        width: 70% !important;
        float: right;
        margin-right: 0px;
    }
    a.icon {
    display: block;
    height: 40px;
    width: 50px;
    background-size: 30px;
}
.social-icons {
    float: none;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    margin-top: 21px;
}
.recent-attachments {
    width: 100%;
}
.recent-button {
    display: block;
    margin: 0 auto;
}
.recent-attachments, .recent-date, .recent-attachments .recent-author {
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.recent-button {
    position: relative;
    top: 240px;
}
.recent-attachments .recent-title {
    margin: 0 auto;
    float: none;
}
.back-btn-section {
    display: none;
}
.container-single-attachments h3.post-subtitle {
    width: 100% !Important;
}
.single-post-attachments {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
}
}
@media screen and (max-width: 1199px) {
    .logo-slog {
        width: 60%;
    }
    .footer-slog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    footer .site-info {
    float: right;
    margin-top: 26px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.table-content {
    max-width: 670px !important;
}
}
@media screen and (max-width: 991px) {
    button.slick-next.slick-arrow {
        right: 4px !Important;
    }
    .post-thumbnail {
        width: 100%;
    }
    img.wp-post-image {
    width: 80%;
    margin: 0 auto;
    display: block;
}   
   footer .logo-slog {
        width: 60% !important;
    }
    .table-content {
    max-width: 100% !important;
} 
.stat-list {
    float: left;
    width: 100%;
    margin-left: 0px;
}
a.stat-item-link {
    display: inline-block;
}
.single-statistika a.stat-item-link {
    display: flex;
    justify-content: center;
}
footer #site-navigation {
    display: none;
}
}
@media screen and (max-width: 767px) {
    .post-anonce {
        max-width: 550px;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .stat-cont {
        justify-content: center;
    }
    .post-attachments-container {
        min-height: initial;
    }
    .statistic-item .title-stat-item {
        font-size: 18px;
    }
    h1.main-title {
        font-size: 37px;
    }
    .single-statistika .container.stat-container {
    padding: 0 15px !important;
}
    footer .logo-text p {
        font-size: 15px !important;
    }
    div#disqus_thread {
        width: 100% !Important;
    }    
  
}
@media screen and (max-width: 400px) {
    .recent-button {
        top: 150px;
    }
    .statistic-item .title-stat-item {
        font-size: 16px;
    }
    h1.main-title {
        font-size: 32px;
    }
    footer .social-icons a {
        margin: 0px;
    }
 }
@media screen and (max-width: 630px) {
    .logo-text {
        display: none;
    }
    .logo-slog {
    width: 100% !important;
    margin-right: 0px !important;
    display: flex;
    justify-content: center;
    }
        .site-branding {
        margin-right: 0px !important;
    }
    .table-content td {
        width: 100% !important;
    }
    .table-content td p {
        margin-right: 0px !Important;
    }
}
@media screen and (max-width: 1153px) {
    #searchform input {
        width: 180px;
        background-position: 150px 6px;
    }
    .site-branding {
        margin-right: 15px;
    }
    header {
        width: 95%;
    }
    .inner-container {
    max-width: 95%;
    margin: 0 auto;
}
    .logo-slog {
        margin-right: 20px;
        width: calc(50% - 30px);
    }

nav#site-navigation li {
    font-size: 18px;
    padding: 0 15px;
}
.social-icons a {
    margin: 0 9px;
}
}
    #wprmenu_menu_ul li:last-child:after {
        display: none;
    } 
    ul.sub-menu {
        background-color: #00833b;
    }
    nav#site-navigation li ul.sub-menu li {
        padding: 4px 0px 4px 14px !important;
        font-size: 19px !important;
        transition: 0.1s;
    }
    nav#site-navigation li ul.sub-menu li:hover {
    background-color: #059846;
    transition: 0.1s;
}
    nav#site-navigation li ul.sub-menu a {
        color: #fff;
    }
.breadcrumb {
    margin: 30px auto;
    padding: 0px;
    background: transparent;
    font-size: 18px;
    font-family: "Raleway";
}
.breadcrumb span {
    margin-left: 2px;
}
.stat-cont {
    margin-bottom: 22px;
    display: flex;
}
.statistic-item {
    width: 270px;
    height: 100px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.statistic-item:hover {
    background-color: #339966;
    transition: 0.3s;
}
.statistic-item:hover .title-stat-item {
    transition: 0.3s;
    color: #fff;
}
.statistic-item .title-stat-item {
    color: #000;
    font-size: 27px;
    font-family: "RalewayBold";
    transition: 0.3s;
}
ul.stat-list {
    margin-left: 0px;
    padding-left: 0px;
}
ul.stat-list li {
    display: table;
    list-style: none;
    margin-bottom: 10px;
}
ul.stat-list .statistic-item {
    height: 50px;
}
ul.stat-list .title-stat-item {
    font-size: 24px;
    font-family: "Raleway";
}
ul.stat-list .statistic-item:hover {
    background-color: #c4c4c4;
}
.single-statistika .container.stat-container {
    padding: 0px;
}
.table-content {
    max-width: 870px;
    float: right;
    font-family: "RalewayBold";
}
table td[class*="col-"], table th[class*="col-"] {
    display: inline-table;
}
.table-content td {
    display: inline-table;
    text-align: center;
    font-size: 24px;
}
.table-content td.col-table-1 {
    width: 30%;
    font-family: "RalewayRegular";
}
.table-content td.col-table-2 {
    width: 45%;
}
.table-content td.col-table-3 {
    width: 25%;
    font-family: "RalewayRegular";
}
.table-content tr.title-table {
    width: 100%;
    background-color: #339966;
    color: #fff;
    font-size: 24px;
}
.table-content tr.title-table th {
    text-align: center;
    width: 100%;
    padding: 5px 0 5px;
}
td:last-child p {
    margin-right: 0px; 
}
td p {
    border: 1px solid #c4c4c4;
    display: block;
    margin-right: 20px;
    margin-bottom: 9px;
    margin-top: 9px;
} 
footer .logo-text p {
    color: #fff;
    font-size: 17px;
}
footer nav#site-navigation li {
    padding: 0 15px;
    font-size: 19px !important;
}
footer .social-icons a {
    margin: 0 12px;
}
footer .logo-slog {
    margin-right: 0px;
}
footer .social-icons {
    margin-top: 3px;
}
footer .main-navigation ul ul.sub-menu {
    top: initial;
    bottom: 100% !Important;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 30px;
    background: transparent;
    color: #444;
    cursor: pointer;
    border: 2px solid #339966;
    border-radius: 50px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    transition: 0.3s;
}
#back-to-top:hover i {
    transition: 0.3s;
    color: #fff;
}
#back-to-top:hover {
    background: #339966;
    transition: 0.3s;
}
#back-to-top.show {
    opacity: 1;
    display: flex !important;
    justify-content: center;
}
#back-to-top i {
    font-size: 37px;
    color: #47a375;
    position: relative;
    bottom: 2px;
    transition: 0.3s;
}
.post-thumbnail {
    float: left;
    margin-right: 28px;
    margin-bottom: 20px;
}
.post-content {
    line-height: 1.4;
    font-size: 17px;
}
.container-single-attachments {
    float: left;
    width: 100%;
}
.container-single-attachments h3.post-subtitle {
    float: left;
}
.single-post-attachments {
    float: right;
}
.single-post-attachments .post-attachments {
    display: inline-block;
}
.single-post-attachments .data-post {
    margin-left: 50px;
}
.slide-container {
    width: 110%;
    height: 240px;
}
a.slide-container {
    float: left;
}
.slick-list {
    width: 100%;
}
.slide-img-wrapp {
    display: inline-block;
    margin-right: 38px;
    max-width: 342px !important;
    transform: translate(2px);
   }
.slick-slide img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
a.a2a_dd.addtoany_share_save.addtoany_share {
    display: none;
}
.slick-arrow:focus,.slick-arrow:active,.slide-container.slick-slide.slick-active {
    border: none !important;
    outline: none !important;
}
.slick-arrow {
    background-color: #339966;
    border: none;
    border-radius: 0px;
    height: 45px;
    width: 45px;
}

button.slick-next.slick-arrow {
    position: absolute;
    right: 2px;
    top: 50%;
    z-index: 999;
}
button.slick-prev.slick-arrow {
    position: absolute;
    left: 2px;
    top: 50%;
    z-index: 999;
}
.slider-post-images {
    margin-bottom: 40px;
}
.mfp-title {
    display: none;
}
.about-us {
    margin-bottom: 30px;
}
body.single .alm-btn-wrap {
    display: none;
}
img.jssocials-share-logo {
    height: 1.7em !important;
}
div#disqus_thread #footer {
    display: none !important;
}
div#disqus_thread {
    width: 55%;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
}
.disqus-footer__wrapper {
    display: none !important;
}
.jssocials-share-link {
    background: transparent !important;
    padding: 0px !important;
}
.jssocials-share.jssocials-share-facebook {
    font-size: 14.8px;
    position: relative;
    bottom: 1px;
}
.share-title {
    font-size: 24px;
    font-family: "RalewayBold";
}
.fanzini-title {
   font-size: 32px;
   font-weight: 600;
   color: #000;
   font-family: "RalewayBold";
   text-align: center;
}
.fanzini-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 10px 0;
    border: 4px solid #339966;
    cursor: pointer;
    transition: 0.9s;
}
.fanzini-body:hover {
    background-color: #252525;
    transition: 0.9s;
}
.fanzini-body:after:hover {
    background-color: rgba(33, 33, 33, 0.86);
}
.fanzini-body:after {
    content: "Click to read";
    position: absolute;
    background: rgba(8, 8, 8, 0.86);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}
.fanzini-body img {
    width: 45%;
}

/* lang switcher styles */
.switch-container {
    float: left;
    margin-left: 20px;
}
.wrapper-dropdown-5 {
  /* Size & position */
  position: relative;
  width: 70px;
  float: right;
  /* Styles */
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.wrapper-dropdown-5:after {
  /* Little arrow */
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #000 transparent;
}
.active .dropdown {
  border: 1px solid #ccc;
}
.wrapper-dropdown-5 .dropdown {
  /* Size & position */
  position: absolute;
  z-index: 999;
  padding-left: 0px;
  top: 100%;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  /* Styles */
  background: #a0a0a8;
  margin-left: 0px;
  list-style: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
}
li.current-lang img {
    width: 50px;
    filter: grayscale(100%);
    transition: 0.5s;
}
.wrapper-dropdown-5:hover li.current-lang img{
    transition: 0.5s;
    filter: grayscale(0%);
}
li.current-lang {
    list-style: none;
    background-color: #eeeeee;
}
.dropdown li img {
    width: 50px;
    display: block;
    margin: 0 auto;
}
.wrapper-dropdown-5 .dropdown li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #e6e8ea;
}
.wrapper-dropdown-5 .dropdown li:last-of-type a {
  border: none;
}
/* Hover state */
.wrapper-dropdown-5 .dropdown li:hover a {
  color: #57a9d9;
}
/* Active state */
.wrapper-dropdown-5.active {
  box-shadow: none;
  border-bottom: none;
  color: white;
}
.wrapper-dropdown-5.active:after {
  border-color: #82d1ff transparent;
}
.wrapper-dropdown-5.active .dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 400px;
}
@media screen and (min-width: 601px ) and (max-width: 689px) {
    .slide-container {
        width: 111.8%;
    }
}
@media screen and (min-width: 690px ) and (max-width: 714px) {
    button.slick-next.slick-arrow {
        right: 6px !Important;
    }
}
@media screen and (max-width: 600px) {
    .slide-img-wrapp {
        max-width: 100% !important;
        margin-right: 0px;
    }
      button.slick-next.slick-arrow {
        right: 0px !Important;
    }
      button.slick-prev.slick-arrow {
          left: 0px !Important;
      }
 }